//COLORS
$dark-blue: #164469;
$yellow: #fbb03f;
$white: white;
$light-blue: #76949f;

html {
  scroll-behavior: smooth;
}
.navbar {
  z-index: 2;
}

.landingpage {
  background-color: black;
  height: 100vh;
  top: 0;
  bottom: 0;
  overflow: hidden;

  .video {
    height: 100%;
    width: auto;
    transform: translate(-39%);
  }

  .overlay {
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}

.height-100vh {
  height: 100vh;
}

.img {
  height: 70px;
  width: auto;
}

.navbar-brand {
  height: 55px;

  .img-logo {
    height: 100%;
  }
}

.navbar-toggler {
  border: 0;
}

.font-size-08 {
  font-size: 0.8rem;
}

footer {
  background-color: $yellow;
}

.bg-yellow {
  background-color: $yellow;
}

@media (min-width: 576px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .landingpage {
    .video {
      transform: translate(-16%, 5%);
    }
  }
}

@media (min-width: 1024px) {
  .landingpage {
    .video {
      transform: translate(0, 5%);
    }
  }
}

@media (min-height: 1024px) {
  html {
    font-size: 22px;
  }
  .landingpage {
    .video {
      min-height: 100% !important;
      transform: translate(-29%);
    }
  }
}
