* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

section {
  padding: 4rem;
}

.paragraph {
  margin: 1rem 0;
}

.paragraph span {
  font-weight: 600;
  color: #fbb03f;
}

.list {
  list-style-type: disc;
  margin: 1rem 4rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  height: 10vh;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5rem 3.5rem;
  background-color: white;
  -webkit-box-shadow: 10px 10px 30px #e7e7e7;
          box-shadow: 10px 10px 30px #e7e7e7;
}

.navbar .logo {
  width: 35%;
}

.navbar .links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .links-list .link-item {
  padding: 0 1rem;
}

.navbar .links-list .link-item a:hover {
  font-weight: 600;
}

.navbar .links-list .active {
  font-weight: bold;
}

.video-container {
  padding: 0;
  background-color: black;
  height: 90vh;
  overflow: hidden;
}

.video-container #myVideo {
  width: 100%;
}

.video-container .video-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  top: 0;
  padding: 0 0 5rem 5rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-container .video-overlay .overlay-content {
  margin-left: 3rem;
  width: 56%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-container .video-overlay .overlay-content .overlay-title {
  font-size: 4.5rem;
  letter-spacing: 1rem;
}

.video-container .video-overlay .overlay-content .overlay-subtitle {
  font-size: 1.2rem;
}

.video-container .video-overlay .button-link {
  margin-top: 2rem;
  background-color: #76949f;
  border-radius: 50px;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
  width: 20%;
  color: white;
}

.azienda {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.azienda .azienda-illustration {
  width: 30%;
}

.azienda .azienda-illustration .illustration {
  width: 100%;
}

.azienda .azienda-content {
  width: 40%;
}

.azienda .azienda-content .title {
  font-size: 3.5rem;
  margin: 2rem 0;
}

.azienda .azienda-content .title span {
  color: #fbb03f;
}

.azienda .container-paragraph {
  width: 30%;
  text-align: center;
  line-height: 1.5rem;
  font-weight: lighter;
}

.azienda .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

.azienda .images-container img {
  margin: 0 0.5rem;
}

.azienda .images-container .vertical-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */