* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

section {
  padding: 4rem;
}

.paragraph {
  margin: 1rem 0;
}

.paragraph span {
  font-weight: 600;
  color: #fbb03f;
}

.list {
  list-style-type: disc;
  margin: 1rem 4rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

select {
  border: none;
  padding: 1rem;
  background-color: #76949f;
  border-radius: 50px;
  color: white;
  width: auto;
  -webkit-appearance: menulist-button;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  height: 10vh;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5rem 3.5rem;
  background-color: white;
  -webkit-box-shadow: 0px 10px 10px 0px #69696954;
          box-shadow: 0px 10px 10px 0px #69696954;
}

.navbar .logo-link {
  width: 20%;
}

.navbar .logo-link .logo {
  width: 100%;
}

.navbar .links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .links-list .link-item {
  padding: 0 1rem;
}

.navbar .links-list .link-item a:hover {
  font-weight: 600;
}

.navbar .links-list .active {
  font-weight: bold;
}

.video-container {
  padding: 0;
  background-color: black;
  height: 90vh;
  overflow: hidden;
}

.video-container #myVideo {
  width: 100%;
}

.video-container .video-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  top: 0;
  padding: 0 0 5rem 5rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-container .video-overlay .overlay-content {
  margin-left: 3rem;
  width: 56%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-container .video-overlay .overlay-content .overlay-title {
  font-size: 4.5rem;
  letter-spacing: 1rem;
}

.video-container .video-overlay .overlay-content .overlay-subtitle {
  font-size: 1.2rem;
}

.video-container .video-overlay .button-link {
  margin-top: 2rem;
  background-color: #fbb03f;
  border-radius: 50px;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
  width: 20%;
  color: white;
}

.azienda {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.azienda .azienda-illustration {
  width: 30%;
}

.azienda .azienda-illustration .illustration {
  width: 100%;
}

.azienda .azienda-content {
  width: 40%;
}

.azienda .azienda-content .title {
  font-size: 3.5rem;
  margin: 2rem 0;
}

.azienda .azienda-content .title span {
  color: #fbb03f;
}

.azienda .container-paragraph {
  width: 30%;
  text-align: center;
  line-height: 1.5rem;
  font-weight: lighter;
}

.azienda .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

.azienda .images-container img {
  margin: 0 0.5rem;
}

.azienda .images-container .vertical-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbb03f;
  padding: 4rem;
}

footer .footer-text {
  color: white;
}

footer .footer-text span {
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */