//COLORS
$dark-blue: #164469;
$yellow: #fbb03f;
$white: white;
$light-blue: #76949f;

$animate: all 0.2s ease-in-out;

html {
  scroll-behavior: smooth;
}

// GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

section {
  padding: 4rem;
  height: 100vh;
  width: 100%;
  display: flex;

  .section-illustrazione {
    width: 30%;

    .illustrazione {
      width: 100%;
    }
  }

  .section-contenuto {
    width: 40%;
  }
}

.parallax-1 {
  width: 100%;
  height: 40vh;
  background-image: url("../imgs/parallax/DSC05185.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  width: 100%;
  height: 40vh;
  background-image: url("../imgs/parallax/DSC05205.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// NAVBAR
.navbar {
  z-index: 1;
  position: sticky;
  height: 10vh;
  top: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 3.5rem;
  background-color: white;
  box-shadow: 0px 10px 10px 0px #69696954;

  .logo-link {
    width: 13%;
    .logo {
      width: 100%;
    }
  }
  .links-list {
    display: flex;

    .link-item {
      padding: 0 1rem;

      a {
        // text-transform: uppercase;
        font-weight: 600;
        transition: $animate;
        position: relative;
        &:before,
        &:after {
          content: "";
          position: absolute;
          bottom: -4px;
          width: 0px;
          height: 2px;
          transition: $animate;
          transition-duration: 0.4s;
          opacity: 0;
          background-color: darken($yellow, 5%);
          left: 0;
        }
      }
      &:hover {
        cursor: pointer;
        a {
          &:before,
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
  }
}

// VIDEO FULLSCREEN
.video-container {
  background-color: black;
  height: 100vh;
  overflow-y: hidden;

  #myVideo {
    width: 100%;
  }

  .video-overlay {
    position: absolute;
    display: flex;
    align-items: flex-end;
    color: white;
    top: 0;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);

    .overlay-total {
      display: flex;
      align-items: center;
      left: -10px;
      opacity: 0;
    }

    .overlay-content {
      margin-left: 3rem;
      width: 56%;
      display: flex;
      flex-direction: column;

      .overlay-title {
        font-size: 4.5rem;
      }

      .overlay-subtitle {
        font-size: 1.2rem;
      }
    }
    .buttons-container {
      padding: 2rem 0;

      .button-link {
        margin-right: 1rem;
        background-color: $yellow;
        border-radius: 50px;
        padding: 0.5rem 0.8rem;
        text-align: center;
        font-weight: 600;
        color: white;
      }
    }
  }
}

// SERVIZI SECTION

.servizi {
  align-items: center;
  justify-content: space-evenly;

  .servizi-titolo {
    font-size: 3rem;
    margin-bottom: 2rem;
    span {
      font-size: 5rem;
      font-weight: 600;
      color: $dark-blue;
    }
  }

  .servizi-paragrafo-descrittivo {
    font-weight: lighter;
    font-size: 1rem;
    margin: 1rem 0;
    span {
      color: $yellow;
    }
  }

  .servizi-offerti {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;

    .round-item {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        margin-top: 1.5rem;
        font-size: 0.8rem;
        text-align: center;
      }
    }

    .automazione-industriale {
      background-image: url("../imgs/DSC07176.jpg");
    }

    .impianti-elettrici {
      background-image: url("../imgs/DSC07180.jpg");
    }

    .quadri-elettrici {
      background-image: url("../imgs/DSC07208.jpg");
    }

    .impianti-condizionamento {
      background-image: url("../imgs/DSC07236.jpg");
    }
  }
}

// PARTNERS

.partners {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .partners-text {
    text-align: center;
    width: 50%;
    .partners-titolo {
      font-size: 3rem;
      margin-bottom: 2rem;
      span {
        font-size: 5rem;
        font-weight: 600;
        color: $dark-blue;
      }
    }
    .partners-paragrafo-descrittivo {
      font-weight: lighter;
      font-size: 1rem;
      margin: 1rem 0;
    }
  }

  .certificazioni {
    margin-top: 2rem;
    .certificazioni-paragrafo-descrittivo {
      font-weight: lighter;
      font-size: 0.8rem;
      margin: 0.5rem 0;
    }
  }
  .partners-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .logo-container {
      width: 17%;
      .logo {
        width: 100%;
      }
    }
  }
}

// AZIENDA SECTION
.azienda {
  align-items: center;
  justify-content: space-evenly;
  .azienda-titolo {
    font-size: 3rem;
    margin-bottom: 2rem;
    span {
      font-size: 5rem;
      font-weight: 600;
      color: $dark-blue;
    }
  }
  .azienda-paragrafo-descrittivo {
    font-weight: lighter;
    font-size: 1rem;
    margin: 1rem 0;
    span {
      color: $yellow;
    }
  }
}

// CONTATTACI

.contattaci {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .contattaci-titolo {
    font-size: 3rem;
    margin-bottom: 2rem;
    span {
      font-size: 5rem;
      font-weight: 600;
      color: $dark-blue;
    }
  }

  form {

    .row-form-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .form-group {
        width: 47%;
      }
    }
    .form-group {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;

      label {
        margin: 0 0 0.7rem 0.6rem;
        font-weight: lighter;
        font-size: 0.7rem;
      }

      input {
        border:0;
        border-bottom: 1px solid $dark-blue;
        border-radius: 10px;
        padding: 0.7rem;
      }

      textarea {
        border: 0;
        border-bottom: 1px solid $dark-blue;
        border-radius: 10px;
        padding: 0.7rem;
      }
    }
  }

  button {
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    color: white;
    border: 0;
    background-color: $dark-blue;
  }
}

// FOOTER

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $yellow;
  padding: 4rem;
  height: 60vh;

  .footer-text {
    width: 60%;
    text-align: center;
    color: white;

    span {
      font-weight: bold;
    }
  }

  .footer-content {
    height: 100%;
    padding: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;

      a {
        text-transform: uppercase;
        color: white;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }

    .maps {
      width: 60%;
    }
  }
}
