//COLORS
$dark-blue: #164469;
$yellow: #fbb03f;
$white: white;
$light-blue: #76949f;

// GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

section {
  padding: 4rem;
  height: 100vh;
  width: 100%;
  display: flex;

  .section-illustration {
    width: 30%;

    .illustration {
      width: 100%;
    }
  }

  .section-content {
    width: 40%;
  }
}

.title {
  font-size: 3.5rem;
  margin: 2rem 0;
  span {
    color: $yellow;
  }
}

.paragraph {
  margin: 1rem 0;

  span {
    font-weight: 600;
    color: $yellow;
  }
}

.list {
  list-style-type: disc;
  margin: 1rem 4rem;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.reverse {
  flex-direction: row-reverse;
}

select {
  border: none;
  padding: 1rem;
  background-color: $light-blue;
  border-radius: 50px;
  color: white;
  width: auto;
  -webkit-appearance: menulist-button;
}

.parallax-1 {
  width: 100%;
  height: 40vh;
  background-image: url("../imgs/parallax/DSC05185.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  width: 100%;
  height: 40vh;
  background-image: url("../imgs/parallax/DSC05205.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// NAVBAR
.navbar {
  position: sticky;
  height: 10vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 3.5rem;
  background-color: white;
  box-shadow: 0px 10px 10px 0px #69696954;

  .logo-link {
    width: 20%;
    .logo {
      width: 100%;
    }
  }
  .links-list {
    display: flex;

    .link-item {
      padding: 0 1rem;

      a {
        &:hover {
          font-weight: 600;
        }
      }
    }

    .active {
      font-weight: bold;
    }
  }
}

// VIDEO FULLSCREEN
.video-container {
  background-color: black;
  height: 90vh;
  overflow: hidden;

  #myVideo {
    width: 100%;
  }

  .video-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    color: white;
    top: 0;
    padding: 0 0 5rem 5rem;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);

    .overlay-content {
      margin-left: 3rem;
      width: 56%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .overlay-title {
        font-size: 4.5rem;
        letter-spacing: 1rem;
      }

      .overlay-subtitle {
        font-size: 1.2rem;
      }
    }
    .buttons-container {
      padding: 2rem 0;

      .button-link {
        margin-right: 1rem;
        background-color: $yellow;
        border-radius: 50px;
        padding: 0.5rem 0.8rem;
        text-align: center;
        font-weight: 600;
        color: white;
      }
    }
  }
}

// AZIENDA SECTION
.azienda {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// SERVIZI SECTION

.servizi {
  flex-direction: column;
  justify-content: center;

  .servizi-offerti {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;

    .round-item {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        margin-top: 1.5rem;
        font-size: 0.8rem;
        text-align: center;
      }
    }

    .automazione-industriale {
      background-image: url("../imgs/azienda1.jpg");
    }

    .impianti-elettrici {
      background-image: url("../imgs/azienda2.jpg");
    }

    .quadri-elettrici {
      background-image: url("../imgs/azienda3.jpg");
    }

    .impianti-condizionamento {
      background-image: url("../imgs/azienda4.jpg");
    }
  }
}

// PARTNERS

.partners {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .partners-text {
    text-align: center;
    width: 50%;
  }
  .partners-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .logo-container {
      width: 17%;
      .logo {
        width: 100%;
      }
    }
  }
}

// CONTATTACI

.contattaci {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: 50%;

    .row-form-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .form-group {
        width: 47%;
      }
    }
    .form-group {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;

      label {
        margin: 0 0 0.7rem 0.6rem;
        font-weight: lighter;
        font-size: 0.7rem;
      }

      input {
        border: 0;
        box-shadow: inset 7px 7px 14px #d6d6d6, inset -7px -7px 14px #ffffff;
        border-radius: 50px;
        padding: 0.7rem;
      }

      textarea {
        border: 0;
        box-shadow: inset 7px 7px 14px #d6d6d6, inset -7px -7px 14px #ffffff;
        border-radius: 50px;
        padding: 0.7rem;
      }
    }
  }

  button{
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    color: white;
    border: 0;
    background-color: $dark-blue;
  }
}

// FOOTER

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $yellow;
  padding: 4rem;
  height: 60vh;

  .footer-text {
    width: 60%;
    text-align: center;
    color: white;

    span {
      font-weight: bold;
    }
  }

  .footer-content {
    height: 100%;
    padding: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      
      a {
        text-transform: uppercase;
        color: white;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }

    .maps {
      width: 60%;
    }
  }
}
