html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

section {
  padding: 4rem;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .section-illustrazione {
  width: 30%;
}

section .section-illustrazione .illustrazione {
  width: 100%;
}

section .section-contenuto {
  width: 40%;
}

.parallax-1 {
  width: 100%;
  height: 40vh;
  background-image: url("../imgs/parallax/DSC05185.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  width: 100%;
  height: 40vh;
  background-image: url("../imgs/parallax/DSC05205.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  height: 10vh;
  top: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5rem 3.5rem;
  background-color: white;
  -webkit-box-shadow: 0px 10px 10px 0px #69696954;
          box-shadow: 0px 10px 10px 0px #69696954;
}

.navbar .logo-link {
  width: 13%;
}

.navbar .logo-link .logo {
  width: 100%;
}

.navbar .links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .links-list .link-item {
  padding: 0 1rem;
}

.navbar .links-list .link-item a {
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.navbar .links-list .link-item a:before, .navbar .links-list .link-item a:after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0px;
  height: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  opacity: 0;
  background-color: #faa626;
  left: 0;
}

.navbar .links-list .link-item:hover {
  cursor: pointer;
}

.navbar .links-list .link-item:hover a:before, .navbar .links-list .link-item:hover a:after {
  width: 100%;
  opacity: 1;
}

.video-container {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.video-container #myVideo {
  min-width: 100%;
  min-height: 100%;
}

.video-container .video-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.video-container .video-overlay .overlay-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -10px;
  opacity: 0;
}

.video-container .video-overlay .overlay-content {
  margin-left: 3rem;
  width: 56%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-container .video-overlay .overlay-content .overlay-title {
  font-size: 4.5rem;
}

.video-container .video-overlay .overlay-content .overlay-subtitle {
  font-size: 1.2rem;
}

.video-container .video-overlay .buttons-container {
  padding: 2rem 0;
}

.video-container .video-overlay .buttons-container .button-link {
  margin-right: 1rem;
  background-color: #fbb03f;
  border-radius: 50px;
  padding: 0.5rem 0.8rem;
  text-align: center;
  font-weight: 600;
  color: white;
}

.servizi {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.servizi .servizi-titolo {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.servizi .servizi-titolo span {
  font-size: 5rem;
  font-weight: 600;
  color: #164469;
}

.servizi .servizi-paragrafo-descrittivo {
  font-weight: lighter;
  line-height: 1.6rem;
  margin: 1rem 0;
}

.servizi .servizi-paragrafo-descrittivo span {
  color: #fbb03f;
}

.servizi .servizi-offerti {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.servizi .servizi-offerti .round-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servizi .servizi-offerti .round-item a {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
}

.servizi .servizi-offerti .automazione-industriale {
  background-image: url("../imgs/DSC07176.jpg");
}

.servizi .servizi-offerti .impianti-elettrici {
  background-image: url("../imgs/DSC07180.jpg");
}

.servizi .servizi-offerti .quadri-elettrici {
  background-image: url("../imgs/DSC07208.jpg");
}

.servizi .servizi-offerti .impianti-condizionamento {
  background-image: url("../imgs/DSC07236.jpg");
}

.partners {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .partners-text {
  text-align: center;
  width: 50%;
}

.partners .partners-text .partners-titolo {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.partners .partners-text .partners-titolo span {
  font-size: 5rem;
  font-weight: 600;
  color: #164469;
}

.partners .partners-text .partners-paragrafo-descrittivo {
  font-weight: lighter;
  font-size: 1rem;
  margin: 1rem 0;
}

.partners .certificazioni {
  margin-top: 2rem;
}

.partners .certificazioni .certificazioni-paragrafo-descrittivo {
  font-weight: lighter;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.partners .partners-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.partners .partners-logo .logo-container {
  width: 17%;
}

.partners .partners-logo .logo-container .logo {
  width: 100%;
}

.azienda {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.azienda .azienda-titolo {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.azienda .azienda-titolo span {
  font-size: 5rem;
  font-weight: 600;
  color: #164469;
}

.azienda .azienda-paragrafo-descrittivo {
  font-weight: lighter;
  line-height: 1.6rem;
  margin: 1rem 0;
}

.contattaci {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contattaci .contattaci-titolo {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contattaci .contattaci-titolo span {
  font-size: 5rem;
  font-weight: 600;
  color: #164469;
}

.contattaci form .row-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contattaci form .row-form-group .form-group {
  width: 47%;
}

.contattaci form .form-group {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contattaci form .form-group label {
  margin: 0 0 0.7rem 0.6rem;
  font-weight: lighter;
  font-size: 0.7rem;
}

.contattaci form .form-group input {
  border: 0;
  border-bottom: 1px solid #164469;
  border-radius: 10px;
  padding: 0.7rem;
}

.contattaci form .form-group textarea {
  border: 0;
  border-bottom: 1px solid #164469;
  border-radius: 10px;
  padding: 0.7rem;
}

.contattaci button {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  color: white;
  border: 0;
  background-color: #164469;
}

.header-categoria {
  width: 100%;
  padding: 6rem 4rem;
  -webkit-box-shadow: 1px 5px 20px rgba(122, 122, 122, 0.5);
          box-shadow: 1px 5px 20px rgba(122, 122, 122, 0.5);
}

.header-categoria .titolo-categoria {
  color: #164469;
  font-size: 3rem;
  font-weight: 600;
}

.header-categoria .linea-categoria {
  width: 10%;
  background-color: #fbb03f;
  height: 0.3rem;
}

.lavoro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lavoro .lavoro-contenuto {
  width: 50%;
}

.lavoro .lavoro-contenuto .lavoro-titolo {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.lavoro .lavoro-contenuto .lavoro-titolo span {
  font-size: 3rem;
  color: #fbb03f;
}

.lavoro .lavoro-contenuto .lavoro-paragrafo-descrittivo {
  font-weight: lighter;
  font-size: 1rem;
  margin: 0 0 3rem 0;
}

.lavoro .slideshow-lavoro {
  width: 60%;
}

.lavoro .slideshow-lavoro .slideshow-container img {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbb03f;
  padding: 4rem;
  height: 60vh;
}

footer .footer-text {
  width: 60%;
  text-align: center;
  color: white;
}

footer .footer-text span {
  font-weight: bold;
}

footer .footer-content {
  height: 100%;
  padding: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer-content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

footer .footer-content .links a {
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}

footer .footer-content .maps {
  width: 60%;
}
/*# sourceMappingURL=main.css.map */